[run]
branch = True
omit =
	/usr/*
    /home/travis/virtualenv/*
    project/tests/*
    project/RemuCoverageTester.py
    project/Networking/IP.py
    project/Main.py
[report]
exclude_lines =
    pragma: no cover
    def on_connection
    def end_connection
    def connect
    def disconnect
    Logger.debug
    Logger.info
    def __getFiles
    def writeFile
    def retrieveFiles
    def printFiles
    def retrieve_files_over_ftp
    def handle_file_retrieval
    pass
    def import_files_from_media_folder
