[run]
branch = True
omit =
	/usr/*
    /home/travis/virtualenv/*
    project/tests/*
    project/RemuCoverageTester.py
    project/Networking/IP.py
    project/Main.py
[report]
exclude_lines =
    pragma: no cover
    def on_connection
    def end_connection
    def connect
    def disconnect
    Logger.debug
    Logger.info